#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    flex-grow: 1;
    display: flex;
  }
}

/* normally, i'd use css modules */
input[type="file"] {
  display: none;
}

.FileName {
  font-weight: 600;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.FileUpload {
  width: 50px;
  height: 50px;
  background-color: #b7ddf1;
  color: #535bf2;
  border: 1px solid #535bf2;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;

  &:hover {
    background-color: #55a55a;
  }
}

.TreeView {
  display: flex;
  flex-direction: column;

  button {
    padding: 0.25rem;
    line-height: 1;
    align-self: flex-start;
  }
}