#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* normally, i'd use css modules.
but the app is small, just a handful of components, so i can leave everything here */

.Layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 800px;
  padding: 2rem;
  border: 2px dotted gray;
  border-radius: 0.75rem;

  .ViewContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    .TreeView {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 15rem;

      .Line {
        margin: 0.125rem 0;

        .Selected {
          background: rgba(255, 255, 255, 0.14);
          color: rgba(255, 255, 255, 0.95);
          font-weight: 500;
          outline: 1px solid rgba(255, 255, 255, 0.35);
          border-radius: 0.25rem;
        }

        span {
          padding: 0 0.25rem;
          position: relative;
          /* will-change would make sense if i had an animation */
        }

        button {
          margin-right: 0.25rem;
          width: 1.5rem;
        }
      }
    }

    .DetailedView {
      display: grid;
      margin: 0;

      .Row {
        display: grid;
        grid-template-columns: 160px 200px;
        align-items: start;

        dt, dd {
          padding: 0.125rem 0;
          margin: 0;
        }

        p {
          margin: 0;
        }

        &:nth-child(even)>dt, &:nth-child(even)>dd {
          background-color: rgba(255, 255, 255, 0.14);
        }
      }
    }

    .TreeView, .DetailedView {
      overflow-y: auto;
      max-height: 50vh;
    }
  }
}

input[type="file"] {
  display: none;
}

.FileUpload {
  display: flex;
  align-items: center;

  .FileName {
    font-weight: 600;
    font-size: 1.25rem;
    flex-grow: 1;
  }

  label {
    background-color: #3b82f6;
    color: rgba(255, 255, 255, 0.95);
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #4b8cff;
      box-shadow: 0 4px 16px rgba(59, 130, 246, 0.25);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 2px 8px rgba(59, 130, 246, 0.2);
    }
  }
}